<div class="container is-max-desktop m-auto p-2">
	<form [formGroup]="profileForm">
		<!--Username-->
		<div class="field">
			<label class="label">Username</label>
			<div class="control">
				<input
					class="input"
					type="text"
					placeholder="JohnDoe02"
					formControlName="username"
					[class.is-danger]="this.profileForm.get('username')?.errors && !this.profileForm.get('username')?.pristine" />
				<ng-container
					[ngTemplateOutlet]="fieldInEdit === 'username' ? inEdit : startEdit"
					[ngTemplateOutletContext]="{ fieldName: 'username' }">
				</ng-container>
			</div>
			<p
				class="help is-danger"
				*ngIf="!this.profileForm.get('username')?.pristine && this.profileForm.get('username')?.hasError('required')">
				Username is required.
			</p>
			<p
				class="help is-danger"
				*ngIf="
					!this.profileForm.get('username')?.pristine &&
					(this.profileForm.get('username')?.hasError('maxlength') ||
						this.profileForm.get('username')?.hasError('minlength'))
				">
				Username must be between 2 and 25 characters.
			</p>
		</div>
		<!--Firstname-->
		<div class="field">
			<label class="label">First name</label>
			<div class="control">
				<input
					class="input"
					type="text"
					placeholder="John"
					formControlName="firstName"
					[class.is-danger]="
						this.profileForm.get('firstName')?.errors && !this.profileForm.get('firstName')?.pristine
					" />
				<ng-container
					[ngTemplateOutlet]="fieldInEdit === 'firstName' ? inEdit : startEdit"
					[ngTemplateOutletContext]="{ fieldName: 'firstName' }">
				</ng-container>
			</div>
			<p
				class="help is-danger"
				*ngIf="!this.profileForm.get('firstName')?.pristine && this.profileForm.get('firstName')?.hasError('required')">
				First name is required.
			</p>
			<p
				class="help is-danger"
				*ngIf="
					!this.profileForm.get('firstName')?.pristine &&
					(this.profileForm.get('firstName')?.hasError('maxlength') ||
						this.profileForm.get('firstName')?.hasError('minlength'))
				">
				First name must be between 2 and 25 characters.
			</p>
		</div>
		<!--Lastname-->
		<div class="field">
			<label class="label">Last name</label>
			<div class="control">
				<input
					class="input"
					type="text"
					placeholder="Doe"
					formControlName="lastName"
					[class.is-danger]="this.profileForm.get('lastName')?.errors && !this.profileForm.get('lastName')?.pristine" />
				<ng-container
					[ngTemplateOutlet]="fieldInEdit === 'lastName' ? inEdit : startEdit"
					[ngTemplateOutletContext]="{ fieldName: 'lastName' }">
				</ng-container>
			</div>
			<p
				class="help is-danger"
				*ngIf="!this.profileForm.get('lastName')?.pristine && this.profileForm.get('lastName')?.hasError('required')">
				Last name is required.
			</p>
			<p
				class="help is-danger"
				*ngIf="
					!this.profileForm.get('lastName')?.pristine &&
					(this.profileForm.get('lastName')?.hasError('maxlength') ||
						this.profileForm.get('lastName')?.hasError('minlength'))
				">
				Last name must be between 2 and 25 characters.
			</p>
		</div>
		<!--Email-->
		<div class="field">
			<label class="label">Email</label>
			<div class="control">
				<input
					class="input"
					type="email"
					placeholder="john.doe@company.com"
					formControlName="email"
					[class.is-danger]="this.profileForm.get('email')?.errors && !this.profileForm.get('email')?.pristine" />
				<ng-container
					[ngTemplateOutlet]="fieldInEdit === 'email' ? inEdit : startEdit"
					[ngTemplateOutletContext]="{ fieldName: 'email' }">
				</ng-container>
			</div>
			<p
				class="help is-danger"
				*ngIf="!this.profileForm.get('email')?.pristine && this.profileForm.get('email')?.hasError('required')">
				Email is required.
			</p>
			<p
				class="help is-danger"
				*ngIf="!this.profileForm.get('email')?.pristine && this.profileForm.get('email')?.hasError('email')">
				Email is invalid.
			</p>
		</div>
		<!--Password
		<div class="field">
			<label class="label">Password</label>
			<div class="control">
				<input
					class="input"
					type="password"
					placeholder="******"
					formControlName="password"
					[class.is-danger]="
						this.profileForm.get('password')?.errors && !this.profileForm.get('password')?.pristine
					" />
			</div>
			<p
				class="help is-danger"
				*ngIf="!this.profileForm.get('password')?.pristine && this.profileForm.get('password')?.hasError('required')">
				Password is required.
			</p>
			<p
				class="help is-danger"
				*ngIf="
					!this.profileForm.get('password')?.pristine &&
					(this.profileForm.get('password')?.hasError('maxlength') ||
						this.profileForm.get('password')?.hasError('minlength'))
				">
				Password must be between 6 and 25 characters.
			</p>
		</div>-->
		<!--Password Confirmation
		<div class="field">
			<label class="label">Password Confirmation</label>
			<div class="control">
				<input
					class="input"
					type="password"
					placeholder="******"
					formControlName="passwordConfirmation"
					[class.is-danger]="
						this.profileForm.get('passwordConfirmation')?.errors &&
						!this.profileForm.get('passwordConfirmation')?.pristine
					" />
			</div>
			<p
				class="help is-danger"
				*ngIf="
					!this.profileForm.get('passwordConfirmation')?.pristine &&
					this.profileForm.get('passwordConfirmation')?.hasError('required')
				">
				Password confirmation is required.
			</p>
			<p
				class="help is-danger"
				*ngIf="
					!this.profileForm.get('passwordConfirmation')?.pristine &&
					(this.profileForm.get('passwordConfirmation')?.hasError('maxlength') ||
						this.profileForm.get('passwordConfirmation')?.hasError('minlength'))
				">
				Password must be between 6 and 25 characters.
			</p>
			<p
				class="help is-danger"
				*ngIf="
					!this.profileForm.get('passwordConfirmation')?.pristine &&
					this.profileForm.get('passwordConfirmation')?.hasError('notmatch')
				">
				Password confirmation does not match.
			</p>
		</div>-->
		<!--Branch-->
		<div class="field">
			<label class="label">Branch</label>
			<div class="control">
				<div class="select">
					<select formControlName="branch">
						<option *ngFor="let item of branchList" [value]="item">{{ item }}</option>
					</select>
				</div>
				<ng-container
					[ngTemplateOutlet]="fieldInEdit === 'branch' ? inEdit : startEdit"
					[ngTemplateOutletContext]="{ fieldName: 'branch' }">
				</ng-container>
			</div>
			<p
				class="help is-danger"
				*ngIf="!this.profileForm.get('branch')?.pristine && this.profileForm.get('branch')?.hasError('required')">
				Branch is required.
			</p>
		</div>
		<!--Percentage-->
		<div class="field">
			<label class="label">Current percentage</label>
			<div class="control">
				<input
					class="input"
					type="number"
					placeholder="60"
					formControlName="percentage"
					[class.is-danger]="
						this.profileForm.get('percentage')?.errors && !this.profileForm.get('percentage')?.pristine
					" />
				<ng-container
					[ngTemplateOutlet]="fieldInEdit === 'percentage' ? inEdit : startEdit"
					[ngTemplateOutletContext]="{ fieldName: 'percentage' }">
				</ng-container>
			</div>
			<p
				class="help is-danger"
				*ngIf="
					!this.profileForm.get('percentage')?.pristine && this.profileForm.get('percentage')?.hasError('required')
				">
				Percentage is required.
			</p>
		</div>
	</form>
</div>

<ng-template #noEdit let-fieldName="fieldName"> </ng-template>

<ng-template #startEdit let-fieldName="fieldName">
	<button class="button is-outlined ml-2" (click)="go2EditField(fieldName)" [disabled]="fieldInEdit">
		<span class="icon is-small">
			<i class="fas fa-pen"></i>
		</span>
	</button>
</ng-template>

<ng-template #inEdit let-fieldName="fieldName">
	<button
		class="button is-outlined ml-2"
		[disabled]="
			!this.profileForm.get(fieldName) ||
			this.profileForm.get(fieldName)?.pristine || this.profileForm.get(fieldName)?.invalid
		"
        (click)="saveEditField(fieldName)" [class.is-loading]="this.fieldLoading === fieldName">
		<span class="icon is-small">
			<i class="fas fa-check"></i>
		</span>
	</button>
	<button class="button is-outlined ml-2" (click)="cancelEditField()">
		<span class="icon is-small">
			<i class="fas fa-times"></i>
		</span>
	</button>
</ng-template>
