<div class="container is-fluid is-flex is-flex-direction-row is-flex-wrap-wrap is-justify-content-space-around">
    <app-discover-more-container
        textLocation="middle"
        heading="My College Manager"
        imgUrl="https://images.pexels.com/photos/14031189/pexels-photo-14031189.jpeg?auto=compress&cs=tinysrgb&w=2560&h=1440&dpr=1"></app-discover-more-container>
    <app-discover-more-container
        heading="Why?"
        subheading=""
        textColor="slategrey"
        textLocation="right"
        imgUrl="https://images.pexels.com/photos/4323963/pexels-photo-4323963.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        description="At My College Manager, we understand that choosing the right college can be a daunting task for students and their families. With so many options available, it can be difficult to know which college will provide the best fit for an individual's academic goals, personal interests, and lifestyle preferences. That's why we built My College Manager - to make the college selection process easier, more personalized, and more informed.

        Our website is designed to match students to the best colleges suited for them based on their grade and branch. We utilize a sophisticated algorithm that takes into account a variety of factors, including academic performance, extracurricular activities, location preferences, and desired areas of study. By providing detailed information about these factors, our algorithm can generate a list of colleges that are the best match for each individual student.
        We believe that finding the right college can have a significant impact on a student's academic success and overall well-being. By taking the guesswork out of the college selection process, we aim to help students make more informed decisions about their future and increase their chances of success. We are committed to providing a user-friendly, informative, and effective platform that empowers students to take control of their college selection process and find their best fit."></app-discover-more-container>
</div>